:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-white: #fff;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Typography */

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Inter, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

.header--white {
  color: var(--color-white);
}

.paragraph--white {
  color: var(--color-white);
}

@media screen and (min-width: 1024px) {
  /* Typography */
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.8rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2rem;
}

.list--tick {
  list-style-image: url(/images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 1.3rem;
  margin-bottom: 1rem;
  font-size: 2.4rem;
}

@media screen and (min-width: 1024px) {
  .list--inline .list__item {
    font-size: 1.5rem;
  }

  .list--tick .list__item {
    padding-left: 0;
    font-size: 1.8rem;
  }
}

/* icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--secondary {
  fill: var(--color-secondary);
}

.icon--white {
  fill: var(--color-white);
}

.icon-container--accent {
  background: var(--color-accent);
}

/* button */

.btn {
  border-radius: 40px;
  cursor: pointer;

  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  padding: 2rem 3rem;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 1rem 0;
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.btn--outline {
  border: 2px solid var(--color-headings);
  color: var(--color-headings);
  transition: background 0.6s;
}

.btn--outline:hover {
  background: var(--color-headings);
  color: #fff;
}

.btn--block {
  display: inline-block;
  width: 100%;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
  border-style: none;
}

.btn--secondary:hover {
  background: #00c8eb;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
  border-style: none;
}

.btn--accent:hover {
  background: #ec3000;
}

.btn--streched {
  padding-left: 6rem;
  padding-right: 6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* inputs */

.input {
  border-radius: 40px;
  border: 1px solid #ccc;
  color: var(--color-headings);
  display: inline-block;
  font-size: 2rem;
  outline: none;

  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: var(--color-body);
}

.input-group {
  display: flex;
  justify-content: end;
  border-radius: 40px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px 10px #f7f9fa;
  padding: 0 1rem;
}

.input-group .input {
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border: 0;
}

.input-group .btn {
  margin: 5px 0;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* cards */

.card {
  border-radius: 10px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
}

/* plans */

.plan__name {
  color: #fff;
  font-weight: 600;
  margin: 0;
  font-size: 2.4rem;
}

.plan__price {
  color: #fff;
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}

.plan__description {
  font-size: 2rem;
  display: block;
  font-weight: 200;
  letter-spacing: 1px;
}

.plan .list__item {
  margin-bottom: 3rem;
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .badge--small {
  background: #126de4;
}

.plan--popular .card__header::before {
  content: url(/images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}

.plan {
  transition: transform 0.3s;
}

.plan--popular {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.plan:hover {
  transform: scale(1.05);
}

.plan--popular:hover {
  transform: scale(1.15);
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* media objects */

.media {
  display: flex;
}

.media__body {
  margin: 0 2rem;
}

.media__title {
  font-size: 2.4rem;
  margin-top: 0;
  font-weight: 600;
}

.media__paragraph {
  font-size: 2rem;
  color: #6b7378;
}

.media__image {
  margin-top: 1rem;
}

/* quotes */

.quote {
  font-size: 3rem;

  line-height: 1.3;
}

.quote--body {
  color: var(--color-body-darker);
}

.quote__text {
  font-style: italic;
}
.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}

.quote__line {
  position: relative;
  bottom: 10px;
}
.quote__author {
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 500;
}
.quote__organization {
  color: var(--color-headings);
  font-size: 2rem;
  opacity: 0.4;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2.4rem;
  }
  .quote__author {
    font-size: 2.4rem;
  }
  .quote__organization {
    font-size: 1.6rem;
  }
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonials */
.testimonial {
  padding: 3rem;
}

.testimonial__image-contaner {
  position: relative;
}

.testimonial__image {
  width: 100%;
}

.testimonial__image-contaner .icon-container {
  position: absolute;
  top: 3rem;
  width: 9rem;
  height: 9rem;
  right: -4.5rem;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
}

/* Callouts */
.callout {
  padding: 4rem;

  border-radius: 10px;
}

.callout__content {
  text-align: center;
}

.callout--primary {
  background: var(--color-primary);
}

.callout__headding {
  margin-top: 0;
}

.callout .btn {
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .callout__content {
    text-align: start;
  }

  .callout .btn {
    justify-self: start;
    margin-left: 5rem;
  }

  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
}

/* collapsibles */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__title {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Block */

.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark .block__heading {
  color: #fff;
}

.block--skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--skewed-left {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navigation */
.nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__brand {
  transform: translateY(5px);
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__taggler {
  opacity: 0.5;
  transition: opacity 0.3s, box-shadow 0.3s, boder-radius 0.3s;
}

.nav.collapsible--expanded .nav__taggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .nav__taggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border-bottom: none;
  }
}

.hero {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero__content {
    text-align: left;
    align-self: center;
  }

  .hero {
    padding-top: 0;
  }
}

/* Domain Block */
.block-domain .input-group {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  margin: 4rem auto;
  max-width: 670px;
}

.block-domain__prices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 6rem);
  font-size: 2rem;
  font-weight: 600;
  justify-items: center;
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-template-rows: repeat(1, 6rem);
  }
}

/* Plans block */

.block-plans .grid {
  gap: 8rem 4rem;
}

.block-plans .card {
  max-width: 500px;
  margin: 0 auto;
}
