<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis amet
      ab ad maiores aliquam eius fuga accusantium reiciendis mollitia beatae
      doloribus velit pariatur cum ut, odit necessitatibus iusto architecto
      labore.
    </p>
  </header>
  <div style="width: 30%">
    <div class="card card--secondary">
      <header class="card__header">Card title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam optio
        quasi unde hic eum quia quaerat totam voluptatum fugiat nisi atque
        nostrum quibusdam suscipit ipsam, quis amet debitis illum et.
      </div>
    </div>
  </div>
</section>

<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis amet
      ab ad maiores aliquam eius fuga accusantium reiciendis mollitia beatae
      doloribus
    </p>
  </div>
</section>
