<body style="padding: 20px">
  <div class="callout callout--primary">
    <div class="grid grid--1x2">
      <div class="callout__content">
        <h2 class="callout__headding header--white">Ready to get started?</h2>
        <p class="paragraph--white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
          repudiandae nihil, quae hic omnis dolorum? In accusantium veniam quis
          facilis!
        </p>
      </div>
      <a href="#" class="btn btn--secondary btn--streched">get started</a>
    </div>
  </div>
</body>
