<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__title">Item1</h2>
    <div class="icon collapsible__chevron">
      <img src="/images/chevron.svg" alt="" />
    </div>
  </header>
  <div class="collapsible__content">
    <ul class="list">
      <li><a href="#">Website Hosting</a></li>
      <li><a href="#">Free Automated WordPress</a></li>
      <li><a href="#">Migration</a></li>
      <li><a href="#">Domain Names</a></li>
      <li><a href="#">Monthly Web Hosting</a></li>
    </ul>
  </div>
</div>

<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__title">Item2</h2>
    <div class="icon collapsible__chevron">
      <img src="/images/chevron.svg" alt="" />
    </div>
  </header>
  <div class="collapsible__content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo dolores
    voluptas id, ipsa eligendi in sunt ad exercitationem adipisci blanditiis
    laborum quod velit aut aliquid iste! Accusamus facilis magnam recusandae!
  </div>
</div>
<script src="/js/main.js"></script>
