<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
      blanditiis!
    </p>
  </header>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <sapn class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#easy"></use>
        </svg>
      </sapn>
      <h3 class="feature__headding">Super Easy to Use</h3>
      <p class="feature__paragraph">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, sint
        labore harum, atque facilis quidem nihil dolor, explicabo quas
        aspernatur aliquid perferendis cum quos a tenetur laudantium
        perspiciatis exercitationem at!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture class="feature__picture">
      <source
        type="image/webp"
        srcset="/images/easy_1x.webp 1x, /images/easy_2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="/images/easy_1x.png 1x, /images/easy_2x.png 2x"
      />
      <img class="feature__image" src="/images/easy_2x.png" alt="" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <sapn class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#computer"></use>
        </svg>
      </sapn>
      <h3 class="feature__headding">Simply fast websites</h3>
      <p class="feature__paragraph">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, sint
        labore harum, atque facilis quidem nihil dolor, explicabo quas
        aspernatur aliquid perferendis cum quos a tenetur laudantium
        perspiciatis exercitationem at!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture class="feature__picture">
      <source
        type="image/webp"
        srcset="/images/fast_1x.webp 1x, /images/fast_2x.webp 2x"
      />
      <source
        type="image/webp"
        srcset="/images/fast_1x.webp 1x, /images/fast_2x.webp 2x"
      />
      <img class="feature__image" src="/images/easy_2x.png" alt="" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <sapn class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#settings"></use>
        </svg>
      </sapn>
      <h3 class="feature__headding">WordPress made easy</h3>
      <p class="feature__paragraph">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, sint
        labore harum, atque facilis quidem nihil dolor, explicabo quas
        aspernatur aliquid perferendis cum quos a tenetur laudantium
        perspiciatis exercitationem at!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture class="feature__picture">
      <source
        type="image/webp"
        srcset="/images/wordpress_1x.webp 1x, /images/wordpress_2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="/images/wordpress_1x.png 1x, /images/wordpress_2x.png 2x"
      />
      <img class="feature__image" src="/images/wordpress_2x.png" alt="" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <sapn class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#clock"></use>
        </svg>
      </sapn>
      <h3 class="feature__headding">24/7 Expert Support</h3>
      <p class="feature__paragraph">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, sint
        labore harum, atque facilis quidem nihil dolor, explicabo quas
        aspernatur aliquid perferendis cum quos a tenetur laudantium
        perspiciatis exercitationem at!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture class="feature__picture">
      <source
        type="image/webp"
        srcset="/images/support_1x.webp 1x, /images/support_2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="/images/support_1x.png 1x, /images/support_2x.png 2x"
      />
      <img class="feature__image" src="/images/support_2x.png" alt="" />
    </picture>
  </article>
</section>
