<blockquote class="quote">
  <p class="quote__text quote--body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
    commodi quisquam repudiandae error aliquam dolorum iure dolore, facilis
    quia. Commodi, accusamus necessitatibus! Quo, dignissimos pariatur porro
    tenetur eligendi fuga vitae.
  </p>
  <footer>
    <div class="media">
      <div class="media__image quote__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="/images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jhon Lumeo</h3>
        <p class="quote__organization">Mosh company CEO</p>
      </div>
    </div>
  </footer>
</blockquote>
