<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image-contaner">
      <img
        class="testimonial__image"
        src="/images/testimonial.jpg"
        alt="A happy, smiling customer"
      />
      <sapn class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="/images/sprite.svg#quotes"></use>
        </svg>
      </sapn>
    </div>

    <blockquote class="quote">
      <p class="quote__text quote--body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
        architecto et dolor amet numquam excepturi minus nostrum odit
        perferendis nulla!
      </p>
      <footer>
        <div class="media">
          <div class="media__image quote__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="/images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Jhon Lumeo</h3>
            <p class="quote__organization">Mosh company CEO</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
